version: "3.8"

services:

  backend:
    build: .
    environment:
      - NODE_ENV=development
    volumes:
      - ./backend:/var/www/html:rw
      - ./frontend/dist:/var/www/html/dist/:rw
    ports:
      - 81:80